:root {
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --cornflower: #E7E9FC;
  --lightslate: #8e8f99;
  --green: #31d0aa;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
  --dairy: #fcfcfc; 
}

/* Reset Styles */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ОСНОВНІ СТИЛІ */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #434455;
  letter-spacing: 0.02em;
  background-color: --white;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Шапка сайту */

.header {
  background-color: var(--white);
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 76px;
}

.logo-color {
  color: var(--navyblue);
}

.menu-list {
  display: flex;
  gap: 40px;
}

.menu-link {
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--ocean);
}

.header-contacts {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.contact-link {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.32px;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--ocean);
}

/* Блок Герой */

.hero {
  max-width: 1440px;
  padding: 188px 0;
  margin: 0 auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/hero.jpg');
  background-color: var(--navyblue);
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

.hero-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

/* Інформаційний блок */

.info {
  padding: 120px 0;
}

.info-list {
  display: flex;
  gap: 24px;
}

.info-item {
  width: 264px;
}

.info-image {
  display: flex;
  justify-content: center;
  height: 112px;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: var(--cloud);
}

.info-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.info-text {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Секція */

.section-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/* Чим ми займаємося */

.works {
  padding-bottom: 120px;
}

.works-list {
  display: flex;
  gap: 24px;
}

/* Наша команда */

.team {
  background-color: var(--cloud);
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-description {
  padding: 32px 0;
}

.team-name {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-position {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
}

.social-item {
  height: 40px;
  width: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}

.social-icon {
  fill: var(--cloud);
}

/* Кліенти */

.customers {
  padding: 120px 0;
}

.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.customers-item {
  height: 88px;
  width: 168px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid var(--lightslate);
  border-radius: 4px;
  color: var(--lightslate);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  fill: var(--ocean);
  border-color: var(--ocean);
}

/* Підвал */

.footer {
  background-color: var(--navyblue);
  padding: 100px 0;
}

.footer .container {
  display: flex;
}

.footer-info {
  width: 264px;
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-color {
  color: var(--cloud);
}

.footer-text {
  width: 264px;
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-social {
  width: 264px;
  margin-right: 120px;
}

.footer-social-title {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--white);
}

.footer-social-list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

.footer-social-item {
  height: 40px;
  width: 40px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
}

.footer-social-icon {
  fill: var(--cloud);
}

/* Styles PORTFOLIO */

/* Каталог */

.gallery {
  padding: 96px 0 120px;
}

.catalog-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.menu-btn {
  color: var(--iris);
  background-color: var(--cloud);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
}

.menu-btn:hover,
.menu-btn:focus {
  color: var(--white);
  background-color: var(--ocean);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}

/* Галерея */

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.gallery-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallery-link:hover .gallery-overley-text,
.gallery-link:focus .gallery-overley-text {
  transform: translateY(0);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallery-overley {
  overflow: hidden;
  position: relative;
}

.gallery-overley-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  padding: 40px 32px;
  background-color: var(--iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--cloud);
}

.gallery-description {
  border: 1px solid var(--cornflower);
  border-top: none;
  padding: 32px 16px;
}

.gallery-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.gallery-name {
  font-size: 16px;
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Модалка */

/* СТИЛІ МОДАЛЬНОГО ВІКНА */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navyblue-modal);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  background: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.madal-btn {
  display: flex;
  background-color: #ffffff;
  background-image: url(../images/close-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin-left: 490px;
  margin-top: 8px;


  fill: var(--cornflower);
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.10);
}
